.Weather {
  max-width: 500px;
  border: 2px solid #2C3639;
  color:#DBE6FD;
  border-radius: 14px;
  padding: 20px;
  margin-top: 50px;
  margin: 0 auto;
  background-color: #2C3639;
}

.Weather h1 {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  text-transform: capitalize;
}

.Weather h4 {
  text-align: center;
  font-size: 14px;
  font-weight: 300
}



.Weather form {
  margin: 10px;
}
a {
  color: #9c9fa3;
  font-weight: 300;
  text-decoration: none;
}

a:hover {
  color: #2665c9;
  cursor:pointer;
  text-decoration: none;
}

img {
  height: 30px;
}

.Weather input {
  background-color: #2C3639;
  color:#DBE6FD;
  border: 1px solid #DBE6FD;
}
.Weather .form-control:focus {
  background-color: #DBE6FD;
  border-color: #DBE6FD;
} 


.Weather button {
  color:#DBE6FD;
  border: 1px solid #DBE6FD
}

.Weather button:hover {
  color:#2C3639;
  background-color: #DBE6FD;
  border: 1px solid #DBE6FD
}